body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  text-decoration: none;
  color: black;
  font-family: helvetica;
  font-size: 26px;
  background: white;
  padding: 20px 32px;
  border-radius: 16px;
  transition: box-shadow 0.4s ease-in, color 0.3s linear;
}
/* 
h1:hover {
  color: black;
  box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.4),
    -4px -4px 20px -5px rgba(255, 255, 255, 1),
    inset 1px 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px 1px rgba(0, 0, 0, 0.1);
} */

.input {
  border: 1px solid #333;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: 7rem;
}

select {
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  color: black;
  font-family: helvetica;
  padding: 3px;
  background: white;
  transition: box-shadow 0.4s ease-in, color 0.3s linear;
}

select:hover {
  color: black;
  box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.4),
    -4px -4px 20px -5px rgba(255, 255, 255, 1),
    inset 1px 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.main {
  background: black;
  padding: 25px;
  margin: 10rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  color: black;
  font-family: helvetica;
  padding: 25px;
  background: white;
  transition: box-shadow 0.4s ease-in, color 0.3s linear;
}

.main:hover {
  color: black;
  box-shadow: 4px 4px 20px -5px rgba(0, 0, 0, 0.4),
    -4px -4px 20px -5px rgba(255, 255, 255, 1),
    inset 1px 1px 1px rgba(255, 255, 255, 0.2),
    inset -1px -1px 1px rgba(0, 0, 0, 0.1);
}
